/* INICIO DEL CSS PARA PRODUCTOS HTML*/

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*body {
  width: 99%;
  margin: 0 auto;
}*/

/*.productContainer {
  width: 80%;
}*/

.container {
  width: 1170px;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
  font-size: 12px;
  min-height: 1066px;
}

aside.productos {
  width: 20%;
  overflow: hidden;
  float: left;
}

.productos ul {
  padding: 0px;
  width: 53%;
  margin: 0 auto;
  font-family: 'Arimo', sans-serif;
}

.productos li {
  display: block;
  list-style: none;
}

.productos h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 1.17em;
}

section.productContainer {
  width: 80%;
  overflow: hidden;
  float: left;
  margin-top: 20px;
}

.item {
  float: left;
  width: 25%;
  margin: 5px;
  text-align: center;
}

.item img {
  display: block;
  margin: 0 auto;
}

.item p {
  margin: 0 21px;
}

.pagination {
    display: inline-block;
    font-family: 'Arimo', sans-serif;
    margin:20px;
}

.pagination a {
    color: #000;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ddd
}

.pagination a.active {
  background-color: #FCB813;
   color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.filterContainer {
  width: 58%;
  margin: 15px auto;
}